
.container{
  background-color: #f8f8f8;
  min-height: 400px;
  padding-bottom: 50px;
}
.helpContain {
  width: 1000px;
  margin: 0 auto;
}
/* line 5, ../sass/help.scss */
.helpContain .helpSide {
  background-color: #fff;
  width: 192px;
  height: 500px;
  float: left;
}
/* line 9, ../sass/help.scss */
.helpContain .helpSide .hSHead {
  height: 98px;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
}
/* line 13, ../sass/help.scss */
.helpContain .helpSide .hSHead h1 {
  color: #1bbc9b;
  font-size: 39.21px;
  font-weight: bold;
  margin-top: 22px;
  margin-left: 13px;
}
/* line 20, ../sass/help.scss */
.helpContain .helpSide .hSHead h2 {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  margin-top: 17px;
  margin-left: 14px;
}
/* line 27, ../sass/help.scss */
.helpContain .helpSide .hSHead span {
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #1bbc9b;
  bottom: -1.5px;
  left: 16px;
}
/* line 37, ../sass/help.scss */
.helpContain .helpSide .hSbody li {
  cursor:pointer;
  height: 44px;
  line-height: 44px;
  margin-top: 14px;
  text-align: center;
  font-size: 15.96px;
}
/* line 42, ../sass/help.scss */
.helpContain .helpSide .hSbody li a {
  font-size: 16px;
  color: #1b1b1b;
  text-decoration: none;
}
/* line 48, ../sass/help.scss */
.helpContain .helpSide .hSbody .hSactive {
  background-color: #1bbc9b;
}
/* line 50, ../sass/help.scss */
.helpContain .helpSide .hSbody .hSactive a {
  color: #ffffff;
}
/* line 56, ../sass/help.scss */
.helpContain .helpWrap {
  background-color: #fff;
  width: 780px;
  min-height: 350px;
  padding-bottom: 20px;
  float: right;
}
/* line 60, ../sass/help.scss */
.helpContain .helpWrap .comProblem {
  display: none;
}
/* line 62, ../sass/help.scss */
.helpContain .helpWrap .comProblem .wrapFirst {
  border-top: none;
}
/* line 65, ../sass/help.scss */
.helpContain .helpWrap .comProblem ul li,.helpContain .helpWrap .plan ul li,.helpContain .helpWrap .insurance ul li {
  /*height: 114px;*/
  border-top: 1px dashed #dcdcdc;
  padding-bottom: 13px;
}
/* line 69, ../sass/help.scss */
.helpContain .helpWrap .comProblem ul li a {
  text-decoration: none;
}
/* line 71, ../sass/help.scss */
.helpContain .helpWrap .comProblem ul li a h3 ,
.helpContain .helpWrap .plan ul li a h3,
.helpContain .helpWrap .insurance ul li a h3{
  margin-left: 37px;
  margin-top: 13px;
  font-size: 14px;
  color: #1b1b1b;
  line-height: 38px;
}
/* line 78, ../sass/help.scss */
.helpContain .helpWrap .comProblem ul li a p,
.helpContain .helpWrap .plan ul li a p,
.helpContain .helpWrap .insurance ul li a p {
  padding-right: 46px;
  margin-left: 37px;
  font-size: 12px;
  color: #898989;
  line-height: 22px;
}
/* line 88, ../sass/help.scss */
.helpContain .helpWrap .insurance {
  display: none;
}
/* line 91, ../sass/help.scss */
.helpContain .helpWrap .plan {
  display: none;
}

/* line 94, ../sass/help.scss */
.helpContain .helpWrap .show {
  display: block;
}


/* ---- */
#regedit h3{
	
	 margin-left: 37px;
  margin-top: 13px;
  font-size: 14px;
  color: #1b1b1b;
  line-height: 38px;
}
#regedit p{
	padding-right: 46px;
  margin-left: 37px;
  font-size: 12px;
  color: #898989;
  line-height: 22px;
}
/* ---- */
#ruler h3{
	
	 margin-left: 37px;
  margin-top: 13px;
  font-size: 14px;
  color: #1b1b1b;
  line-height: 38px;
}
#ruler p{
	padding-right: 46px;
  margin-left: 37px;
  font-size: 12px;
  color: #898989;
  line-height: 22px;
}
/* ---- */
#delivery h3{
	
	 margin-left: 37px;
  margin-top: 13px;
  font-size: 14px;
  color: #1b1b1b;
  line-height: 38px;
}

#delivery p{
	padding-right: 46px;
  margin-left: 37px;
  font-size: 12px;
  color: #898989;
  line-height: 22px;
}

#delivery p{
	padding-right: 46px;
  margin-left: 37px;
  font-size: 12px;
  color: #898989;
  line-height: 22px;
  
}
/* -- 293行-- */
#instruction{
  margin: 14px 26px;
  width: 523px;
  display: none;
}
/* line 281, ../sass/help.scss */
.instruction li h3{
	
	
  margin-left: 37px;
  margin-top: 13px;
  font-size: 14px;
  color: #FF8327;
  line-height: 38px;
 	
}
#instruction p {
	#delivery p
	padding-right: 46px;
  margin-left: 37px;
  font-size: 12px;
  color: #898989;
  line-height: 22px;

}

#instruction h4 {
	
	color:#FF6827
}
}#instruction span {
	
  padding-right: 46px;
  margin-left: 37px;
  font-size: 12px;
  color: #898989;
  line-height: 22px;

}
