

*{

    font-family: Arial;
}
input{
    display: inline-block;
    width: 200px;
    height: 35px;
    margin-right: 30px;
}
label{
    color: white;
    font-size: 18px;
    margin-right: 30px;
}

img{
    width: 100%;
    height: 100%;
}


   
    #sousuo{
        float: left;
        
        margin-left:25%;
        width: 50%
        height: 50px;

    }

    #sousuo2{
        float: left;
        margin-right: 25%;
       
        width: 70%;
        height: 50px;

   }
    .search2015_btn1 {
    float: left;
    width: 126px;
    height: 44px;
    border: 0 none;
    background: #151515 url("/Images/86new/index-search.jpg") no-repeat center;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 44px;
    font-size: 17px;

}

.fuwu{

    float:left;
    margin-left: 730px;
    margin-top: 380px;

}
.btn{

    width: 105px;
    height: 35px;
    background: #4DA8C0;
    color: white;
}

   
     #search{
        z-index: 1;
        width: 100%;
        height: 500px; 
        position: relative;


    }

    #search1{
        width: 100%;
        height: 500px;
        z-index: -1;
        /*opacity: 0.2;*/
        /*background: #010101;*/


        /*text-rendering: optimizeLegibility;*/

    }

    #search2{
        z-index: -2;
        width: 100%;
        height: 100%;
        /*background: #AAA6B3;*/
        /*opacity: 0.5;*/

    }

    #shang{
        width: 100%;
        height: 100px;
        background: yellow;
    }
        #xia{

        width: 100%;
        height: 100px;
        float: left;
    }

    #bar{
        width: 80%;
        /*height: 50px;*/
        /*background: #8389AC;*/
        position:absolute;
    }

    #button1{
        /*width: 150px;*/
        /*height: 50px;*/
        /*background: #D1F2F0*/
        color:#585E66;
        display: inline-block;
    }


        #zhong{
        width: 100%;
        /*height: 1000px;*/
        margin:2px auto;
        /*position: absolute;*/
        display: inline-block;
        
    }
    #left{
        width: 10%; 
        /*height: 1000px;  */   
        /*border:1px solid #107135;*/
        /*display:inline-block;*/
        /*vertical-align: top;*/
        position: absolute;

    }
    #wenzi{

        width: 20px;
        display: inline-block;
    }
    #mid{
        width: 100%;
        /*height: 1000px;*/
        
        vertical-align: top;
        /*border:1px solid blue;*/
        display:inline-block;
        
    }

    
    
    
    #mid3{
        display:none;
        width: 100%;
        /*border: blue 1px solid;*/

     
    }

    
  

    .pic{
        /*border-radius: 15%;*/
        width: 250px;
        height: 340px;
        display: inline-block;
        float: left;
        overflow: hidden;
        /*border:2px solid#C5823A;*/
        margin-left :2%;
        margin-right: 2%;
        margin-top:30px;
        letter-spacing: 5px;
        text-align: 10px;
        line-height: 15px;
        /*box-shadow: #BDB9B9;*/
        text-align: center;
        vertical-align: text-bottom;

    }

    .pic-1{
        width: 250px;
        height: 250px;
        border-radius: 10%;
        overflow: hidden;
        line-height: 30px;
    }

    .pic-2{
        width: 250px;
        height: 30px;
        
    }
    .pic-21{
        float: left;
        width: 220px;
        height: 30px;
        text-align: left;
        line-height: 30px;

    }

    .pic-22{
        float: right;
        width: 30px;
        height: 30px;
        /*background: #3E3B3B;*/


    }




    .pic-3{
        width: 250px;
        height: 30px;
        text-align: left;
        line-height: 30px;
    }


    .pic-4{
        width: 250px;
        height: 30px;
        text-align:left;
        line-height: 30px;
    }

    

    .ren{
        width: 60px;
        height: 60px;
        position: absolute;
        
        margin-left: 180px;
        margin-top: 242px;
        /*background: #171414;*/
        z-index: 9;
    }
    #wenzi-2{
        width:10px;
    }
    

    
    
    #shaixuan{
        width: 200px;
        height: 25px;
        background:#E1E0E0;
        color:grey;
        /*margin:0 auto;*/
        text-align: center;
        line-height: 20px;
    }

    #shaixuan2{
        width: 100%;
        height: 25px;
        color:grey;
        background: #E1E0E0;
        /*margin:0 auto;*/
        text-align: center;
        line-height: 20px;
    }

    #xuanxiang{
        width: 200px;
        height: 675px;
        background:#FFFFFF;
        color:white;
        /*margin:0 auto;*/
        text-align:center;
        padding-top: 10px;
    }
    .sel{
        display: block;
        text-align: center;
        border:1px solid red;   
    }

    #logo .logo{
        width: 90px;
        height: 90px;
        background:#B81818;
        margin-left: 10%;
        padding-top: 7.5px;
    }

    #hudiwang{
        width: 400px;
        height: 80px;
        float:left;
    }
    
   

    

    #searchbox{
        /*font-size: 22px;*/
        width: 60%;
        /*height: 50px;*/
        padding-top:90px;
        margin-left: 20%;
        /*background: #CF7D79;*/
        
        
    }

    #searchbox .t1:hover{
        background: #ADA0A0;
    }
    
    .xuanze{
        /*width: 88px;*/
        /*height: 30px;*/
        display:inline-block;    
    }
    


    .right .hudibox{
        width: 230px;
        height: 200px;
        /*border:1px solid red;*/
        float: left;
        display: inline-block;
        /*position: absolute;*/
        background: #C5D1CE;


    }
    #wenzi-r{
        width: 100%;
        height: 20px;
        float: 
        ;
    }
       
    .hudibox .profile{
        /*border-radius: 50%;*/
        width: 100px;
        height: 200px;
        /*border:1px solid blue;*/
        /*margin-left: 20px;*/
        /*margin-top: 20px;*/
        overflow: hidden;
        float:left;
        margin-top: 30px;
         
        


    }

    .img2{

        border-radius: 50%;
        width: 100px;
        height:100px;     
    }

    .xinxi{

    }

    .xingchenginfo{
        width: 130px;
        height: 200px;
        /*background: yellow;*/
        display: inline-block;

    } 

    
    #dizhi{
        width: 230px;
        height: 100px;
        /*background: #E4CCF7;*/
    }
    

    .yema{
        width: 100%;
        height: 50px;
        margin:2px auto;
        display:inline-block;
        text-align: center;
        
    }

    .pingjia{
        margin-top: 10px;
    }


    .feiji{
        width: 40px;
        height: 40px;
        margin-left: 50px;
        padding-top: 5px;
        /*line-height: middle;*/
    }

    .chengshi{
        text-align: center;

        margin-top:20px;
        

    }

    .shijian{
        text-align: center;

    }

    .dingwei{
        float: right;


    }

    #fadan{
        float: right;
        margin-top: 70px;
        margin-right:100px;
    }

    #shangcheng{
        float: right;
        margin-top: 70px;
        margin-right: 50px;
    }

    #icon1{
        float: left;
        margin-right: 50px;
    width: 100px;
    height: 120px;
}

    #dw{
        position:absolute;
        top:300px;
        float:right;
        left:35%;
        width:30%;
        height: 50px; 
        font-size:25px;
        text-align: left;
        opacity: 0.5;
        
      
    }

    #dw:hover{
        opacity: 1;
    }

    #wym{
        position: absolute;
        top:390px;
        left: 35%;
        float:right;
        /*margin-right:25%;*/
        width:30%;
        height: 50px; 
        font-size:25px;
        text-align: left;
        opacity: 0.5;
        /*margin-top:50px;*/
    
       
        
    }
    #wym:hover{
        opacity: 1;
    }
    
    

#whx{
        position: absolute;
        top:350px;
        left: 20%;
        
       

}

#whx2{
        position: absolute;
        top:400px;
        left: 20%;
    

}

/*#fh1{
        position: absolute;
        top:451px;
        left: 40%;
        width: 160px;
        height: 50px;

}*/

/*#fh2{
        position: absolute;
        top:451px;
        left: 40%;
        width: 160px;
        height: 50px;

}*/

#fh1{
    float: right;
    margin-top: 3px;
    /*margin-left: 10px;*/
}



#fh2{
    float: right;
    margin-top: 3px;
    /*margin-left: 10px;*/
}


#dd{
    width: 100px;
    height: 40px;
    /*margin-top:150px;*/
    margin-left:80%;
}


#gwc{
    width: 100px;
    height: 40px;
    /*margin-top:150px;*/
    margin-left:80%;
}


#wyd{
    position:fixed;
    float:left;
    bottom: 160px;
    margin-left: 90%;

}

#gwc2{
    position:fixed;
    float:left;
    bottom: 160px;
    margin-left: 90%;
}

@media screen and (max-width:1482px) {

#mid{width: 100%; }
#whx{left:15%;}
#whx2{left:15%;}

.pic{margin-left: 5%; margin-right: 5%}

}

@media screen and (max-width:1280px) {

     #right{display:none;}
    #left{display:none;}
    #mid{width: 100%; }
    #mid2{width: 100%; }
    #mid3{width: 100%; }
    .pic{margin-left: 2%; margin-right: 2%}
    #jr{margin-left: 80%;}
    #whx{left:5%;}
    #whx2{left:5%;}

 }

@media screen and (max-width:980px){
#fh1{margin-right: 230px;}
#fh2{margin-right: 230px;}
#whx{left:20%;}
#whx2{left:20%;}
#pp2{font-size: 30px;}
#pp{font-size: 22px;}
}


@media screen and (max-width:800px){
#fh1{margin-right: 86px;}
#fh2{margin-right: 86px;}
#pp2{font-size: 28px;}
#pp{font-size: 22px;}
}

@media screen and (max-width:768px) {
    #pp2{padding-left: 10%;}
    #jr{margin-left: 80%;}
    #fh1{margin-right: 138px; }
    #fh2{margin-right: 138px; }
    #whx{left:10%;}
    #whx2{left:10%;}

}

@media screen and (max-width:600px) { 
    #pp{display:none;}
    #pp2{display:none;}
    #right{display:none;}
    #left{display:none;}
    #mid{width: 90%; margin-left:5%;}

    #fh1{margin-right:50px;}
    #fh2{margin-right:50px;}
    #whx{left:12%;top:150px; }
    #whx2{left:12%;top:150px;}
    #jr{margin-left: 0px;}
    #dw{top:200px;}
    #wym{top:350px;}
}















